body{
    padding: 0;
    height: 100vh;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(rgb(243, 246, 162),rgb(242, 148, 192));
}
.container{
    background-image: linear-gradient(rgb(245, 111, 182),rgb(230, 84, 201),rgb(239, 174, 98),rgb(199, 238, 115));
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
   
}